.header {
    width: 100%;
    background: blue;
    color: white;

    p {
        margin: 0.5rem;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 2em;
}

.headerCart {
    display: flex;
    align-items: center;
    justify-self: center;

    svg {
        margin-right: 0.5rem;
    }
}
