.header {
    width: 100%;
    background: blue;
    color: white;

    p {
        margin: 0.5rem;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 2em;
}

.headerCart {
    button {
        display: flex;
        align-items: center;
        justify-self: center;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;

        svg {
            margin-right: 0.5rem;
        }
    }
}
